.container{
    margin-bottom: 50px;
}
.buy-now-btn{
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    padding: 10px 25px;
    border: none;
}
.carousel-indicators li {
	width: 25px;
	height: 8px;
	background-image: linear-gradient(45deg, #FFB925, #FFD019);
	border-radius: 10px;
}
.see-all, .see-all:hover {
	color: #FF9E04;
	text-decoration: none;
}
.card-footer{
    background-color: #fff;
    border: none;
}
.sec-title {
	margin-bottom: 20px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.category-single {
	box-shadow: 5px 5px 10px lightgray;
	padding: 20px;
	margin-bottom: 50px;
	border-radius: 20px 0px 40px 0px;
}
.category-single h2{
    margin-top: 20px;
}
.btm-bar{
    position: relative;
    margin-bottom: 50px;
}
.btm-bar::before {
	position: absolute;
	height: 8px;
	width: 150px;
	background-image:linear-gradient(45deg, #FFC520, #FF9C35);
	content: "";
	bottom: -20px;
	border-radius: 10px;
	left: 50%;
	margin-left: -75px;
}